<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace =>  mapper接口    类的全限定名 -->
<mapper namespace="com.qcby.db.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.qcby.db.entity.SysUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="admission_date" jdbcType="DATE" property="admissionDate"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="student_class_id" jdbcType="INTEGER" property="studentClassId"/>
        <result column="institute_id" jdbcType="INTEGER" property="instituteId"/>
        <result column="major_id" jdbcType="INTEGER" property="majorId"/>
        <result column="creat_time" jdbcType="DATE" property="creatTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>


    <resultMap id="UserWithRoleBaseResultMap" type="com.qcby.db.entity.SysUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="admission_date" jdbcType="DATE" property="admissionDate"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="student_class_id" jdbcType="INTEGER" property="studentClassId"/>
        <result column="institute_id" jdbcType="INTEGER" property="instituteId"/>
        <result column="major_id" jdbcType="INTEGER" property="majorId"/>
        <result column="creat_time" jdbcType="DATE" property="creatTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <collection property="roleId" column="id" select="listRoleByUserId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, real_name, password, user_name, sex, photo, admission_date,
        email, student_class_id, institute_id, major_id, creat_time, update_time
    </sql>


    <select id="listAll" resultType="com.qcby.db.entity.SysUser">
        select t3.*, dm.major_name from
            (select t2.*, di.institute_name from
                (select t1.*, dc.class_name from
                    (select * from sys_user su
                                       inner join ref_user_role rr on  su.id = rr.user_id where rr.role_id = 2) t1
                        inner join dic_class_info dc on t1.student_class_id = dc.id) t2
                    left join dic_institute_info di on t2.institute_id = di.id) t3
                left join dic_major_info dm on t3.major_id = dm.id

    </select>


    <insert id="insertUser" parameterType="com.qcby.db.entity.SysUser">
        insert into sys_user (user_name, password, real_name, sex, student_class_id,
                              institute_id, major_id, admission_date, emai, photo)
        values (#{user.userName}, #{user.password}, #{user.realName},
                #{user.sex}, #{user.studentClassId}, #{user.instituteId},
                #{user.majorId}, #{user.admissionDate}, #{user.emai}, #{user.photo})
    </insert>
    <insert id="insertUserWithRole">
        insert into ref_user_role (user_id, role_id)
        values (#{userId}, 1)
    </insert>


    <delete id="deleteUser">
        delete from sys_user where id = #{userId}
    </delete>

    <delete id="deleteUserWithRole">
        delete from ref_user_role where user_id = #{userId} and role_id = 2
    </delete>







</mapper>